.results {
    list-style-type: none;
}

.won {
    color: darkgreen;
    font-weight: bold;
}

.lose {
    color: crimson;
    font-weight: bold;
}

.button {
    background-color: blueviolet;
    border: round;
    color: white;
}
